/* In your CSS file or inline styles
.mega-menu-dropdown-toggle > svg {
    display: none !important;
} */

.snap-mandatory {
    border-radius: 0px !important;
}

/* Scoped styles for a container with a specific class */
.input_createProduct input:focus,
.input_createProduct textarea:focus {
  outline: none;
  box-shadow: none;
}
